
body{
    background: #f5f5f5;
    padding: 0;
    margin: 100px 0px 0px 0px;
    box-sizing: border-box;
}

.logo{
    cursor: pointer;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.container__product{
    text-decoration: none;
    color: #000;
}

.allproducts{
    text-align: center;
}

.ecommerce{
    max-width: 1200px;
    margin: 0 auto;
}

h1,.similar{
    margin-top: 80px;
}

.similar{
    text-align: center;
}

.card_container{
    min-width: 250px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card_info{
    max-width: 250px;
}

.card_container h2{
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.howmuch{
    color: #212529;
}

.card_container p{
    font-size: 20px;
    font-weight: 600;
}

.image_container{
    max-width: 160px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.image_container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button{
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.buttons_container{
    z-index: 100;
}

button:hover{
    background: #0069da;
}


/*Category*/

.category{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
} 
.category_container{
    cursor: pointer;
    max-width: 84px;
    max-height: 84px;
    margin-top: 60px;
    border-radius: 24px;
    text-align: center;
}

.category_container img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
}

.startpoint{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.endpoint{
    color: #0069da;
    font-size: 20px;
}
.products{
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 140px;
}
/*Header*/
nav{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    width: 90%;
}

header{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 20px;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    height: 70px;
    padding-top: 15px;

    input{
        padding: 8px 20px;
        border: solid 2px #000;
        border-radius: 8px;
    }
}

.top_nav{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 10px;
}

.form_desktop{
display: block;
}

.phone_input{
    display: none;
}


.dinamic_container,.dinamic_information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.dinamic{
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

.dinamic_photo{
    max-width: 350px;
    min-height: 280px;
    min-width: 250px;
    margin: 0 auto;
}

.dinamic_photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dinamic_information{
    h1{
        font-size: 30px;
        margin: 20px 0px;
    }
    p{
        font-weight: 300;
    }
    .price{
        font-size: 24px;
        font-weight: 600;
        color: #212529;
    }
    
}

.aside_title{
    color: #007BFF;
}


.dinamic_button{
    display: flex;
    gap: 10px;
}

footer{
    margin-top: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ul{
        list-style: none;
        li{
            margin: 10px;
            cursor: pointer;
        }
        li:hover{
            color: #0069da;
        }
        .footer_title:hover{
            color: #000000;
            cursor: text;
        }
    }
    .footer_title{
        color: #212529;
        font-weight: bold;
        font-size: 20px;
    }
p{
    text-align: center;
}
a{
    color:#007BFF;
}
}
.footer_socialMedia, .footer_container{
    display: flex;
}

.items_carrito{
    list-style: none;
    margin: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    h2{
        font-size: 14px;
        margin: 0;
    }
    p{
        margin: 8px 0px;
    }
    li{
        display: flex;
        background: #fff;
        padding: 40px;
        gap: 40px;
        border-radius: 24px;
        margin: 0px 10px;
    }
    li img{
        min-width: 100px;
    }
    .price_ac{
        margin: 20px 0px;
        font-size: 30px;
        color: #212529;
    }
    button{
        padding: 6px 12px;
    }
}

.sinitems{
    text-align: center;
}

.cantidad_carrito{
    display: flex;
    align-items: center;
    gap: 10px;
}
.categoria_carrito{
    border: #007BFF 1px solid;
    width: fit-content;
    padding: 5px;
    border-radius: 12px;
    font-size: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 20px;
    background: #fff;
    min-width: fit-content;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
    ul{
        list-style: none;
        padding: 0px 10px;
        li{
            margin-top: 6px;
        }
    }
}

main{
    display: flex;
    margin-top: 20px;
}

.carrito{
    margin-top: 140px;
}

.carrito_container{
    min-height: 90vh;
}

u{
    cursor: pointer;
}


@media (max-width: 450px) {
    .category_container{
        margin-top: 120px;
    }

    .phone_input{
        display: block;
        display: flex;
        justify-content: center;
        margin: 0px 0px 40px 0px;
    }
    .form_desktop{
        display: none;
    }


}

@media (max-width: 700px) {
    header{
        height: 100px;
    }
    h1,.similar{
        margin: 80px 0;
    }
    .footer_container{
        flex-wrap: wrap;
        display: flex;
    }
    .items_carrito{
        gap: 20px;
        margin: 0px 20px;
        flex-direction: column;
        li{
            flex-direction: column;
        }
    }
    .carrito{
        margin-top: 200px;
    }

    main{
      flex-direction: column;
      gap: 20px 0px;
    }
    .aside_container{
        display: flex;
        gap: 20px;
        justify-content: center;
        height: fit-content;
    }
}

@media (min-width:800px){
    .dinamic_container{
        flex-direction: row;
        gap: 0 60px;
        margin-top: 80px;
    }
}

